
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none; 
    background: none; 
  }
  
.titleregion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 32px 15px 0px 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    .h5{
        font-weight:200;
    }

}

.containerRegion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0px 10px 10px 10px;

    .regionImg{                
    width: 166px;
    height: 170px;
    display: flex;
    padding: 5px;
    margin: 8px;
    border-radius: 40px;  
    object-fit: cover;
          
    }

    
    .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }


    .ExploreBtn{
        background-color:  #000000;
        color: white;
        padding: 5px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: fixed; 
        right: 10%;  
        bottom:5%;     
    }
}

