
.titleregion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 15px 0px 15px;
    .h5{
        font-weight:200;
    }

}

.containerRegion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0px 10px 10px 10px;

    .regionImg{                
    width: 166px;
    height: 170px;
    display: flex;
    padding: 5px;
    margin: 8px;
    border-radius: 40px;  
    object-fit: cover;
          
    }

    
    .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }


    .ExploreBtn{
        background-color:  #539DF3;
        color: white;
        padding: 5px;
        width: 100px;
        border-radius: 10px;
        position: fixed; 
        right: 10%;  
        bottom:5%;     
    }
}

